In [158]:
from bs4 import BeautifulSoup
from splinter import Browser
from webdriver_manager.chrome import ChromeDriverManager
import pymongo
import numpy as np
import pandas as pd
import requests

In [2]:
# Splinter
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

[WDM] - ====== WebDriver manager ======
INFO:WDM:====== WebDriver manager ======
[WDM] - Current google-chrome version is 103.0.5060
INFO:WDM:Current google-chrome version is 103.0.5060
[WDM] - Get LATEST chromedriver version for 103.0.5060 google-chrome
INFO:WDM:Get LATEST chromedriver version for 103.0.5060 google-chrome
[WDM] - About to download new driver from https://chromedriver.storage.googleapis.com/103.0.5060.53/chromedriver_mac64.zip
INFO:WDM:About to download new driver from https://chromedriver.storage.googleapis.com/103.0.5060.53/chromedriver_mac64.zip
[WDM] - Driver has been saved in cache [/Users/ap20/.wdm/drivers/chromedriver/mac64/103.0.5060.53]
INFO:WDM:Driver has been saved in cache [/Users/ap20/.wdm/drivers/chromedriver/mac64/103.0.5060.53]

In [26]:
# Batting stats URLs
batting_url_list = ['https://www.espn.com/mlb/stats/player/_/view/batting/season/2021/seasontype/2/table/batting/sort/homeRuns/dir/desc',
                    'https://www.espn.com/mlb/stats/player/_/view/batting/season/2020/seasontype/2/table/batting/sort/homeRuns/dir/desc',
                    'https://www.espn.com/mlb/stats/player/_/view/batting/season/2019/seasontype/2/table/batting/sort/homeRuns/dir/desc']

In [56]:
# $$$$$$$
# Function for scraping Abbreviation

def abbreviation(url):    
    browser.visit(url)

    html = browser.html
    soup = BeautifulSoup(html, 'html.parser')
    
    results = soup.find_all('tr', class_ = 'Table__TR Table__TR--sm Table__even')

    abrs = []

    for query in results:
        try:        
            abr = query.span.text    
            abrs.append(abr)
        
        except AttributeError as e:
            print(e)  
    
    return abrs

In [63]:
# $$$$$$
# Abbreviation column variables
abr_2021 = abbreviation(batting_url_list[0])
abr_2020 = abbreviation(batting_url_list[1])
abr_2019 = abbreviation(batting_url_list[2])

'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'

In [71]:
# $$$$$$
# Function for scraping Name

def name(url):
    browser.visit(url)

    html = browser.html
    soup = BeautifulSoup(html, 'html.parser')
    
    results = soup.find_all('tr', class_ = 'Table__TR Table__TR--sm Table__even')

    names = []

    for query in results:        

        try:        
            full_name = query.a.text    
            names.append(full_name)
        
        except AttributeError as e:
            print(e)  
    
    return names

In [81]:
# $$$$$
# Names variables, shows error but the variables are working
names_2021 = name(batting_url_list[0])
names_2020 = name(batting_url_list[1])

'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'

WebDriverException: Message: unknown error: unexpected command response
  (Session info: chrome=103.0.5060.114)
Stacktrace:
0   chromedriver                        0x00000001051bb079 chromedriver + 4444281
1   chromedriver                        0x0000000105147403 chromedriver + 3970051
2   chromedriver                        0x0000000104de2038 chromedriver + 409656
3   chromedriver                        0x0000000104dcf3c8 chromedriver + 332744
4   chromedriver                        0x0000000104dceac7 chromedriver + 330439
5   chromedriver                        0x0000000104dce047 chromedriver + 327751
6   chromedriver                        0x0000000104dcd803 chromedriver + 325635
7   chromedriver                        0x0000000104de91fa chromedriver + 438778
8   chromedriver                        0x0000000104e4862d chromedriver + 828973
9   chromedriver                        0x0000000104e35683 chromedriver + 751235
10  chromedriver                        0x0000000104e0ba45 chromedriver + 580165
11  chromedriver                        0x0000000104e0ca95 chromedriver + 584341
12  chromedriver                        0x000000010518c55d chromedriver + 4253021
13  chromedriver                        0x00000001051913a1 chromedriver + 4273057
14  chromedriver                        0x000000010519616f chromedriver + 4292975
15  chromedriver                        0x0000000105191dea chromedriver + 4275690
16  chromedriver                        0x000000010516b54f chromedriver + 4117839
17  chromedriver                        0x00000001051abed8 chromedriver + 4382424
18  chromedriver                        0x00000001051ac05f chromedriver + 4382815
19  chromedriver                        0x00000001051c28d5 chromedriver + 4475093
20  libsystem_pthread.dylib             0x00007ff8129874e1 _pthread_start + 125
21  libsystem_pthread.dylib             0x00007ff812982f6b thread_start + 15

In [80]:
# $$$$$$
# Name variable
names_2019 = name('https://www.espn.com/mlb/stats/player/_/view/batting/season/2019/seasontype/2/table/batting/sort/homeRuns/dir/desc')

'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'
'NoneType' object has no attribute 'text'

In [96]:
# $$$$$$$$$$$
# Scrape for Name and ABREVIATION
# Ground work for above 2 functions

#url = 'https://www.espn.com/mlb/stats/player/_/view/batting/season/2021/seasontype/2/table/batting/sort/homeRuns/dir/desc'
#browser.visit(url)

#html = browser.html
#soup = BeautifulSoup(html, 'html.parser')

#result = soup.find_all('tr', class_ = 'Table__TR Table__TR--sm Table__even')

#names = []
#abrs = []

#for query in result:
#    try:
#        
#        full_name = query.a.text    
#        abr = query.span.text
#        print(full_name)
#        print(abr)
#        print('-----------')
    
#        names.append(full_name)
#        abrs.append(abr)
        
#    except AttributeError as e:
#       print(e)

In [91]:
# Function for scraping desired batting data
def batting(url):
    tables = pd.read_html(url)

    t1 = tables[0]
    t2 = tables[1]

    batting_df = t1.join(t2)

    clean_batting_df = batting_df.drop(['OBP','SLG','OPS','WAR'], axis= 1)

    clean_batting_df.rename(columns = {'Name':'Names','GP':'Games Played', 'AB':'At Bats','R': 'Runs', 'H':'Hits', 'HR':'Home Runs',
                                        'RBI':'Runs Batted In','TB':'Total Bases', 'BB':'Walks', 'K':'Strikeouts', 'SB':'Stolen Bases'}, inplace = True)

    return clean_batting_df

In [98]:
# $READY$

# 2021 Batting Table
batting_2021_df = batting(batting_url_list[0])

# Insert new columns
batting_2021_df.insert(1,'Name',names_2021)
batting_2021_df.insert(2,'Team',abr_2021)

# Drop Teams column
batting_2021_df.drop(['Names'], axis=1, inplace=True)

In [100]:
# $READY$

# 2020 Batting Table
batting_2020_df = batting(batting_url_list[1])

# Insert new columns
batting_2020_df.insert(1,'Name',names_2020)
batting_2020_df.insert(2,'Team',abr_2020)

# Drop Teams column
batting_2020_df.drop(['Names'], axis=1, inplace=True)

In [102]:
# $READY$

# 2019 Batting Table
batting_2019_df = batting(batting_url_list[2])

# Insert new columns
batting_2019_df.insert(1,'Name',names_2019)
batting_2019_df.insert(2,'Team',abr_2019)

# Drop Teams column
batting_2019_df.drop(['Names'], axis=1, inplace=True)

In [135]:
# Scraping Attendance stats
#
#
#
#
#

In [3]:
# Attendance URLs
attendance_url_list = ['https://www.espn.com/mlb/attendance/_/year/2021',
                        'https://www.espn.com/mlb/attendance/_/year/2019']

In [104]:
# $$$$$
# Function to return clean dataframes for attendance

def attendance(url):
    
    tables = pd.read_html(url)

    attendance_df = tables[0]

    # Rename columns
    attendance_df.rename(columns = {0 :'RK', 1 :'Teams', 2 :'Home Games', 3 :'Home Total', 4 :'Home Avg', 6 :'Road Games', 7 :'Road Avg',
                                    9 :'Overall Games', 10 :'Overall Avg'}, inplace = True)
    # Drop by Index
    attendance_df.drop([0,1], inplace=True)

    # Reset Index
    attendance_df.reset_index(inplace=True)

    # Drop by column
    attendance_df.drop(['index',5, 8, 11], axis=1, inplace=True)

    # Created list to replace Teams column
    team = ['Arizona Diamondbacks', 'Atlanta Braves','Baltimore Orioles','Boston Red Sox','Chicago Cubs','Chicago White Sox',
            'Cincinnati Reds','Cleveland Guardians','Colorado Rockies','Detroit Tigers','Houston Astros','Kansas City Royals',
                'Los Angeles Angels','Los Angeles Dodgers','Miami Marlins','Milwaukee Brewers','Minnesota Twins','New York Mets',
                    'New York Yankees','Oakland Athletics','Philadelphia Phillies','Pittsburgh Pirates','San Diego Padres','San Francisco Giants',
                        'Seattle Mariners','St. Louis Cardinals','Tampa Bay Rays','Texas Rangers','Toronto Blue Jays','Washington Nationals']
    abr = ['ARI','ATl','BAL','BOS','CHC','CWS','CIN','CLE','COL','DET','HOU','KC','LAA','LA','MIA','MIL','MIN','NYM','NYY','OAK','PHI','PIT','SD','SF',
            'SEA','STL','TB','TEX','TOR','WAS']

    # Place alphabetical
    attendance_df.sort_values(by=['Teams'], inplace=True)

    # Insert new columns
    attendance_df.insert(1,'Team',team)
    attendance_df.insert(2,'ABR',abr)

    # Drop Teams column
    attendance_df.drop(['Teams'], axis=1, inplace=True)

    # Convert column RK to INT
    complete_attendace_df = attendance_df.astype({"RK": int},  errors='raise') 

    # Resorts dataframe back to normal based on rank
    complete_attendace_df.sort_values(by=['RK'], inplace=True)

    return complete_attendace_df

In [105]:
# $READY$

# COMPLETE ATTENDANCE CHARTS
attendance_2021 = attendance('https://www.espn.com/mlb/attendance/_/year/2021')
attendance_2019 = attendance('https://www.espn.com/mlb/attendance/_/year/2019')

In [148]:
# Ground work for attendace function above
# attendance URL list

tables = pd.read_html(url)

attendance_df = tables[0]

# Rename columns
attendance_df.rename(columns = {0 :'RK', 1 :'Teams', 2 :'Home Games', 3 :'Home Total', 4 :'Home Avg', 6 :'Road Games', 7 :'Road Avg',
                                    9 :'Overall Games', 10 :'Overall Avg'}, inplace = True)
# Drop by Index
attendance_df.drop([0,1], inplace=True)

# Reset Index
attendance_df.reset_index(inplace=True)

# Drop by column
attendance_df.drop(['index',5, 8, 11], axis=1, inplace=True)

# Created list to replace Teams column
team = ['Arizona Diamondbacks', 'Atlanta Braves','Baltimore Orioles','Boston Red Sox','Chicago Cubs','Chicago White Sox',
            'Cincinnati Reds','Cleveland Guardians','Colorado Rockies','Detroit Tigers','Houston Astros','Kansas City Royals',
                'Los Angeles Angels','Los Angeles Dodgers','Miami Marlins','Milwaukee Brewers','Minnesota Twins','New York Mets',
                    'New York Yankees','Oakland Athletics','Philadelphia Phillies','Pittsburgh Pirates','San Diego Padres','San Francisco Giants',
                        'Seattle Mariners','St. Louis Cardinals','Tampa Bay Rays','Texas Rangers','Toronto Blue Jays','Washington Nationals']
abr = ['ARI','ATl','BAL','BOS','CHC','CWS','CIN','CLE','COL','DET','HOU','KC','LAA','LA','MIA','MIL','MIN','NYM','NYY','OAK','PHI','PIT','SD','SF',
            'SEA','STL','TB','TEX','TOR','WAS']

# Place alphabetical
attendance_df.sort_values(by=['Teams'], inplace=True)

# Insert new columns
attendance_df.insert(1,'Team',team)
attendance_df.insert(2,'ABR',abr)

# Drop Teams column
attendance_df.drop(['Teams'], axis=1, inplace=True)

# Change column RK to INT
complete_attendace_df = attendance_df.astype({"RK": int},  errors='raise') 

# Resorts dataframe back to normal based on rank
complete_attendace_df.sort_values(by=['RK'], inplace=True)

In [106]:
browser.quit()

In [107]:
# Team Payroll
#
#
#
#

#payroll_url_list = ['https://www.spotrac.com/mlb/payroll/2021/',
#                        'https://www.spotrac.com/mlb/payroll/2020/']
payroll_url = 'http://www.stevetheump.com/Payrolls.htm'

In [180]:
# Payroll DFs for each year

tables = pd.read_html(payroll_url)

payroll_2021_df = tables[2]
payroll_2020_df = tables[3]
payroll_2019_df = tables[4]

In [174]:
# $$$$$
# Payroll 2021 clean up

# Rename columns
payroll_2021_df.rename(columns = {0 :'RK', 1 :'Team', 2 :'Roster', 3 :'Active', 4 :'Injured Reserve'}, inplace = True)

# Drop by Index
payroll_2021_df.drop([0,17], inplace=True)

# Reset Index
payroll_2021_df.reset_index(inplace=True)

# Drop by column
payroll_2021_df.drop(['index',5, 6, 7], axis=1, inplace=True)

# Specified columns to change
cols = ['Active','Injured Reserve']

# Removed commas and $ signs from specified columns to convert to INT
payroll_2021_df[cols] = payroll_2021_df[cols].replace({'\$': '', ',': ''}, regex=True)

# Replacing the - in columns with NaN values then replacing NaN values to 0
payroll_2021_df = payroll_2021_df.replace('-',np.NaN)
payroll_2021_df = payroll_2021_df.fillna(0)

# Covert desired colums to INT tobe able to make 'Total' column
payroll_2021_df[['Active', 'Injured Reserve']] = payroll_2021_df[['Active', 'Injured Reserve']].astype(int)

# 'Active' + 'Injured Reserve' = 'Total'
payroll_2021_df['Total'] = payroll_2021_df['Active'] + payroll_2021_df['Injured Reserve']

# Format
payroll_2021_df = payroll_2021_df.style.format({'Active':'${:,.0f}',
                                                    'Injured Reserve':'${:,.0f}',
                                                        'Total':'${:,.0f}'})
 
payroll_2021_df

In [178]:
payroll_2020_df = tables[3]

In [181]:
# $$$$$
# Payroll 2020 clean up

# Rename columns
payroll_2020_df.rename(columns = {0 :'RK', 1 :'Team', 2 :'Roster', 3 :'Active', 4 :'Injured Reserve'}, inplace = True)

# Drop by Index
payroll_2020_df.drop([0,17], inplace=True)

# Reset Index
payroll_2020_df.reset_index(inplace=True)

# Drop by column
payroll_2020_df.drop(['index',5, 6], axis=1, inplace=True)

# Specified columns to change
cols = ['Active','Injured Reserve']

# Removed commas and $ signs from specified columns to convert to INT
payroll_2020_df[cols] = payroll_2020_df[cols].replace({'\$': '', ',': ''}, regex=True)

# Replacing the - in columns with NaN values then replacing NaN values to 0
payroll_2020_df = payroll_2020_df.replace('-',np.NaN)
payroll_2020_df = payroll_2020_df.fillna(0)

# Covert desired colums to INT tobe able to make 'Total' column
payroll_2020_df[['Active', 'Injured Reserve']] = payroll_2020_df[['Active', 'Injured Reserve']].astype(int)

# 'Active' + 'Injured Reserve' = 'Total'
payroll_2020_df['Total'] = payroll_2020_df['Active'] + payroll_2020_df['Injured Reserve']

# Format
payroll_2020_df = payroll_2020_df.style.format({'Active':'${:,.0f}',
                                                    'Injured Reserve':'${:,.0f}',
                                                        'Total':'${:,.0f}'})
payroll_2020_df

In [183]:
# $$$$$
# Payroll 2019 clean up

# Rename columns
payroll_2019_df.rename(columns = {0 :'RK', 1 :'Team', 2 :'Roster', 3 :'Active', 4 :'Injured Reserve'}, inplace = True)

# Drop by Index
payroll_2019_df.drop([0,14], inplace=True)

# Reset Index
payroll_2019_df.reset_index(inplace=True)

# Drop by column
payroll_2019_df.drop(['index'], axis=1, inplace=True)

# Specified columns to change
cols = ['Active','Injured Reserve']

# Removed commas and $ signs from specified columns to convert to INT
payroll_2019_df[cols] = payroll_2019_df[cols].replace({'\$': '', ',': ''}, regex=True)

# Replacing the - in columns with NaN values then replacing NaN values to 0
payroll_2019_df = payroll_2019_df.replace('-',np.NaN)
payroll_2019_df = payroll_2019_df.fillna(0)

# Covert desired colums to INT tobe able to make 'Total' column
payroll_2019_df[['Active', 'Injured Reserve']] = payroll_2019_df[['Active', 'Injured Reserve']].astype(int)

# 'Active' + 'Injured Reserve' = 'Total'
payroll_2019_df['Total'] = payroll_2019_df['Active'] + payroll_2019_df['Injured Reserve']

# Format
payroll_2019_df = payroll_2019_df.style.format({'Active':'${:,.0f}',
                                                    'Injured Reserve':'${:,.0f}',
                                                        'Total':'${:,.0f}'})
payroll_2019_df